html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  box-sizing: inherit;
}

/* general items */

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.section {
  padding: 2rem 1rem;
}

.container-big {
  max-width: 1400px;
}

.check,
.check * {
  border: 1px solid black;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
}

a {
  display: inline-block;
}

/* header */

.header {
  padding: 1rem;
  padding-right: 1.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: #6070ff;
  font-size: 1.5rem;
}

.header-menu-hamburguer {
  display: flex;
  width: 1.6rem;
  height: 1.2rem;
  cursor: pointer;
}

.hero-content a {
  text-decoration: none;
}

/* hero image */
.hero {
  background-image: url("./assets/header-shapes\ mobile@2x.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container-big {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.hero-content {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0 1.5rem 100px 1.5rem;
  flex-direction: column;
  justify-content: center;
}

.separete-items-down,
.separete-items-down > * {
  margin-bottom: 12px;
}

.hero-title {
  font-size: 3rem;
  color: #172b4d;
}

.hero-text {
  font-weight: 400;
  color: #344563;
}

.social-media {
  width: 190px;
  max-width: 80%;
}

/* ************** works ************************ */

.works {
  background-color: #e5e5e5;
  padding: 3rem 1rem;
}

.work {
  padding: 1rem;
  background-color: white;
  border-radius: 16px;
  width: 327px;
}

.work-main-img {
  border-radius: 16px;
}

.work-list {
  display: flex;
  gap: 0.5rem;
  padding: 0;
  justify-content: flex-start;
  list-style-position: inside;
}

.work-description {
  padding: 0.3rem 0;
}

.work-tech {
  padding: 0.5rem 0;
}

.work-tech span {
  background-color: #ebebff;
  border-radius: 6px;
  padding: 4px 12px;
  margin-right: 8px;
}

/* buttons */

.btn {
  background-color: transparent;
  border: 1px solid #396ef2;
  border-radius: 8px;
  padding: 12px;
  margin-top: 1.8rem;
  color: #6070ff;
  font-size: 1.3rem;
}
